In [1]:
# To print hello world

In [3]:
print("hello world")

hello world

In [4]:
# to add two numbers

In [5]:
a=10
b=20
c=a+b
print(c)

30

In [8]:
print("sum of {0} and {1} is {2}".format(a,b,c))

sum of 10 and 20 is 30

In [9]:
# floating point representation

In [10]:
a=5.3;b=6.8; c=a+b

In [11]:
print("sum of {0} and {1} is {2}".format(a,b,c))

sum of 5.3 and 6.8 is 12.1

In [6]:
# user input

In [12]:
a=int(input("enter first number"))
b=int(input("enter second number"))
c=a+b

enter first number12
enter second number23

In [13]:
print("sum of {0} and {1} is {2}".format(a,b,c))

sum of 12 and 23 is 35

In [14]:
# swap two numbers

In [15]:
x=10
y=20
temp=x
x=y
y=temp

In [16]:
print("after swapping are {0} and {1} ".format(x,y))

after swapping are 20 and 10

In [17]:
# to generate a random number

In [19]:
import random
r1=random.randint(1,100)
print("random number generated is {0}".format(r1))

random number generated is 69

In [20]:
# convert km to miles

In [48]:
conv_factor=0.62
km=10000
miles=km *conv_factor
print("%0.2f kilometers are equal to %0.2f miles" %(km,miles))

10000.00 kilometers are equal to 6200.00 miles

In [49]:
# Convert celcius into fahrenheit
c=100
f=(c*1.8)+32
print("%0.2f celcius temperature is equal to %0.2f fahrenheit" %(c,f))

100.00 celcius temperature is equal to 212.00 fahrenheit

In [50]:
# to check odd or even
n=int(input("enter the number"))
if n%2==0:
    print("No is even")
else:
    print("no is odd")

enter the number57121
no is odd

In [53]:
# To check positive negative or zero
n=int(input("enter the number"))
if n==0:
    print("No is zero")
else:
    if n>0:
        print("no is positive")
    else:
        print("No is negative")

enter the number-5
No is negative

In [30]:
# to print factorial of a number
n=int(input("enter the number"))
if n<0:
    print("factorial does not exists for negative numbers")
else:
    if n==0:
        print("factorial of 0 is 1")
    else:
        fact=1
        for i in range(1,n+1):
            fact=fact*i
print("factorial of {0} is {1}".format(n,fact))

enter the number5
factorial of 5 is 120

In [3]:
# to print largest of three numbers
n1=int(input("enter the 1st number"))
n2=int(input("enter the 2nd number"))
n3=int(input("enter the 3rd number"))
if n1>n2 and n1>n3:
    print("{0} is largest".format(n1))
else:
    if n2>n1 and n2>n3:
        print("{0} is largest".format(n2))
    else:
        print("{0} is largest".format(n3))

enter the 1st number30
enter the 2nd number20
enter the 3rd number10
30 is largest

In [46]:
# To print pattern 1
n=5
for i in range(1,n+1):
    for j in range(1,i):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [39]:
# To print pattern 2
n=6
for i in range(1,n+1):
    for j in range(1,i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [40]:
# To print pattern 3
n=6
for i in range(n+1,1,-1):
    for j in range(i,1,-1):
        print("*", end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [44]:
# To print pattern 4
n=5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1